* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.transformar {
    width: 200px;
    height: 200px;
    background: green;
    /* transformaciones transform eje x e y
    transform: translate(400px, 350px); */
    /* transformaciones ratate valor positivo gira derecha, valor negativo gira izquierda
    transform: rotate(45deg); */
    /* transformaciones escalar es como hacerle zoom, recibe dos valores o uno. 1 tamaño real
    transform: scale(2); */
    /* las tres propiedades en una sola linea */
    transform: translate(400px, 250px) rotate(45deg) scaleX(1.7);
    /*propiedad transition, recibe dos valores= propiedad a transicionar (all, todo lo que cambie) y tiempo de transicion en segundos*/
    transition: all 0.5s;
}

/*propiedad :hover cambia el color, tamaño, etc. de green a red cuando le pasamos en mouse por encima*/
.transformar:hover {
    width: 400px;
    background: red;
}

/* animaciones compuesta por dos partes armado (linea de tiempo @keyframes) y ejecucion (animation)de la misma

@keyframes mi_animacion {

    0% {color:red;}
    50% {color:green;}
    100% {color:red;}

}
*/

@keyframes mover_y_agrandar {
    0% {
        transform: translate(0, 0) scale(1);
    }
    25% {
        transform: translate(100px, 200px) scale(0.8);
    }
    50% {
        transform: translate(20px, 100px) scale(1.5);
    }
    75% {
        transform: translate(400px, 400px) scale(1.2);
    }
    100% {
        transform: translate(0, 0) scale(1);
    }
}
.animar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: pink;
    animation-name: mover_y_agrandar;
    animation-duration: 2s;
    animation-iteration-count: infinite;   /*propiedad que recibe un valor numerico y da las veces que se repite la animacion o infinit*/
    animation-timing-function: linear;   /*especifica */
    animation-delay: 1s;   /*cuanto va a esperar la animacion antes de ejecutar*/
}
